.event-card2 .event-card2-box:nth-of-type(1) .event-date {
  color: #1ec28f;
}

.event-card2 .event-card2-box:nth-of-type(1) .event-icon {
  color: #1ec28f;
}

.event-card2 .event-card2-box:nth-of-type(1) > div .event-title:hover {
  color: #1ec28f;
}

.event-card2 .event-card2-box:nth-of-type(1) .event-button {
  background: rgb(30, 194, 143);
}

.event-card2 .event-card2-box:nth-of-type(2) .event-date {
  color: #ff8945;
}

.event-card2 .event-card2-box:nth-of-type(2) .event-icon {
  color: #ff8945;
}

.event-card2 .event-card2-box:nth-of-type(2) > div .event-title:hover {
  color: #ff8945;
}

.event-card2 .event-card2-box:nth-of-type(2) .event-button {
  background: rgb(255, 137, 69);
}

.event-card2 .event-card2-box:nth-of-type(3) .event-date {
  color: #17c0f9;
}

.event-card2 .event-card2-box:nth-of-type(3) .event-icon {
  color: #17c0f9;
}

.event-card2 .event-card2-box:nth-of-type(3) .event-button {
 background: rgb(23, 192, 249);
}

.event-card2 .event-card2-box:nth-of-type(3) > div .event-title:hover {
  color: #17c0f9;
}

.event-card2 .event-card2-box:nth-of-type(4) .event-date {
  color: #a54ffa;
}

.event-card2 .event-card2-box:nth-of-type(4) .event-icon {
  color: #a54ffa;
}

.event-card2 .event-card2-box:nth-of-type(4) .event-button {
 background: #a54ffa;
}

.event-card2 .event-card2-box:nth-of-type(4) > div .event-title:hover {
  color: #a54ffa;
}
