.programs-section
  .swiper-wrapper
  .swiper-slide:nth-child(1)
  .programs-item2
  .hover-bg
  span {
  background: #1ec28f;
}

.programs-section
  .swiper-wrapper
  .swiper-slide:nth-child(1)
  .programs-item2
  .programs-price {
  color: #1ec28f;
}

.programs-section
  .swiper-wrapper
  .swiper-slide:nth-child(1)
  .programs-item2
  .programs-category {
  color: #1ec28f;
  background: rgb(30, 194, 143, 0.1);
  border: 1px solid rgb(30, 194, 143, 0.3);
}

.programs-section
  .swiper-wrapper
  .swiper-slide:nth-child(1)
  .programs-item2:hover
  .programs-title {
  color: #1ec28f;
}

.programs-section
  .swiper-wrapper
  .swiper-slide:nth-child(1)
  .programs-item2
  .programs-button {
  color: #1ec28f;
  border-color: #1ec28e81;
}

.programs-section
  .swiper-wrapper
  .swiper-slide:nth-child(1)
  .programs-item2
  .programs-button:before {
  background: #1ec28f;
}

.programs-section
  .swiper-wrapper
  .swiper-slide:nth-child(2)
  .programs-item2
  .hover-bg
  span {
  background: #ff853f;
}

.programs-section
  .swiper-wrapper
  .swiper-slide:nth-child(2)
  .programs-item2
  .programs-price {
  color: #ff853f;
}

.programs-section
  .swiper-wrapper
  .swiper-slide:nth-child(2)
  .programs-item2
  .programs-category {
  color: #ff853f;
  background: #ff853f1a;
  border: 1px solid rgba(255, 133, 63, 0.3);
}

.programs-section
  .swiper-wrapper
  .swiper-slide:nth-child(2)
  .programs-item2:hover
  .programs-title {
  color: #ff853f;
}

.programs-section
  .swiper-wrapper
  .swiper-slide:nth-child(2)
  .programs-item2
  .programs-button {
  color: #ff853f;
  border-color: #ff853f83;
}

.programs-section
  .swiper-wrapper
  .swiper-slide:nth-child(2)
  .programs-item2
  .programs-button:before {
  background: #ff853f;
}

.programs-section
  .swiper-wrapper
  .swiper-slide:nth-child(3)
  .programs-item2
  .hover-bg
  span {
  background: #15c1fa;
}

.programs-section
  .swiper-wrapper
  .swiper-slide:nth-child(3)
  .programs-item2
  .programs-price {
  color: #15c1fa;
}

.programs-section
  .swiper-wrapper
  .swiper-slide:nth-child(3)
  .programs-item2
  .programs-category {
  color: #15c1fa;
  background: #15c1fa1a;
  border: 1px solid rgba(21, 193, 250, 0.3);
}

.programs-section
  .swiper-wrapper
  .swiper-slide:nth-child(3)
  .programs-item2:hover
  .programs-title {
  color: #15c1fa;
}

.programs-section
  .swiper-wrapper
  .swiper-slide:nth-child(3)
  .programs-item2
  .programs-button {
  color: #15c1fa;
  border-color: #15c1fa81;
}

.programs-section
  .swiper-wrapper
  .swiper-slide:nth-child(3)
  .programs-item2
  .programs-button:before {
  background: #15c1fa;
}

.programs-section
  .swiper-wrapper
  .swiper-slide:nth-child(4)
  .programs-item2
  .hover-bg
  span {
  background: #15c1fa;
}

.programs-section
  .swiper-wrapper
  .swiper-slide:nth-child(4)
  .programs-item2
  .programs-price {
  color: #a64cf9;
}

.programs-section
  .swiper-wrapper
  .swiper-slide:nth-child(4)
  .programs-item2
  .programs-category {
  color: #a64cf9;
  background: #a64cf91a;
  border: 1px solid rgb(166, 76, 249, 0.1);
}

.programs-section
  .swiper-wrapper
  .swiper-slide:nth-child(4)
  .programs-item2:hover
  .programs-title {
  color: #a64cf9;
}

.programs-section
  .swiper-wrapper
  .swiper-slide:nth-child(4)
  .programs-item2
  .programs-button {
  color: #a64cf9;
  border-color: #a64cf981;
}

.programs-section
  .swiper-wrapper
  .swiper-slide:nth-child(4)
  .programs-item2
  .programs-button:before {
  background: #a64cf9;
}

.programs-section
  .swiper-wrapper
  .swiper-slide:nth-child(1)
  .programs-item2:hover
  .programs-button,
.programs-section
  .swiper-wrapper
  .swiper-slide:nth-child(2)
  .programs-item2:hover
  .programs-button,
.programs-section
  .swiper-wrapper
  .swiper-slide:nth-child(3)
  .programs-item2:hover
  .programs-button,
.programs-section
  .swiper-wrapper
  .swiper-slide:nth-child(4)
  .programs-item2:hover
  .programs-button {
  color: #fff;
}
