

.course-tab-btn::before {
  position: absolute;
  content: "";
  bottom: -13px;
  right: 0;
  width: 0;
  height: 100%;
  border-bottom: 2px solid #2852fc;
  transition: all 0.5s ease-in-out;
}

.course-tab-btn.active::before {
  left: 0;
  width: 100%;
}

.course-tab-content {
  display: none;
  opacity: 0;
  transform: translateY(10%);
  transition: all 0.5s ease-in-out;
}

.course-tab-content.active {
  display: block !important;
  opacity: 1;
  transform: translateY(0%);
}


.course-section
  .swiper-wrapper
  .swiper-slide:nth-child(1)
  .course-item2
  .hover-bg
  span {
  background: #1ec28f;
}

.course-section
  .swiper-wrapper
  .swiper-slide:nth-child(1)
  .course-item2
  .course-price {
  color: #1ec28f;
}

.course-section
  .swiper-wrapper
  .swiper-slide:nth-child(1)
  .course-item2
  .course-category {
  color: #1ec28f;
  background: rgb(30, 194, 143, 0.1);
  border: 1px solid rgb(30, 194, 143, 0.3);
}

.course-section
  .swiper-wrapper
  .swiper-slide:nth-child(1)
  .course-item2:hover
  .course-title {
  color: #1ec28f;
}

.course-section
  .swiper-wrapper
  .swiper-slide:nth-child(1)
  .course-item2
  .course-button {
  color: #1ec28f;
  border-color: #1ec28e81;
}

.course-section
  .swiper-wrapper
  .swiper-slide:nth-child(1)
  .course-item2
  .course-button:before {
  background: #1ec28f;
}

.course-section
  .swiper-wrapper
  .swiper-slide:nth-child(2)
  .course-item2
  .hover-bg
  span {
  background: #ff853f;
}

.course-section
  .swiper-wrapper
  .swiper-slide:nth-child(2)
  .course-item2
  .course-price {
  color: #ff853f;
}

.course-section
  .swiper-wrapper
  .swiper-slide:nth-child(2)
  .course-item2
  .course-category {
  color: #ff853f;
  background: #ff853f1a;
  border: 1px solid rgba(255, 133, 63, 0.3);
}

.course-section
  .swiper-wrapper
  .swiper-slide:nth-child(2)
  .course-item2:hover
  .course-title {
  color: #ff853f;
}

.course-section
  .swiper-wrapper
  .swiper-slide:nth-child(2)
  .course-item2
  .course-button {
  color: #ff853f;
  border-color: #ff853f83;
}

.course-section
  .swiper-wrapper
  .swiper-slide:nth-child(2)
  .course-item2
  .course-button:before {
  background: #ff853f;
}

.course-section
  .swiper-wrapper
  .swiper-slide:nth-child(3)
  .course-item2
  .hover-bg
  span {
  background: #15c1fa;
}

.course-section
  .swiper-wrapper
  .swiper-slide:nth-child(3)
  .course-item2
  .course-price {
  color: #15c1fa;
}

.course-section
  .swiper-wrapper
  .swiper-slide:nth-child(3)
  .course-item2
  .course-category {
  color: #15c1fa;
  background: #15c1fa1a;
  border: 1px solid rgba(21, 193, 250, 0.3);
}

.course-section
  .swiper-wrapper
  .swiper-slide:nth-child(3)
  .course-item2:hover
  .course-title {
  color: #15c1fa;
}

.course-section
  .swiper-wrapper
  .swiper-slide:nth-child(3)
  .course-item2
  .course-button {
  color: #15c1fa;
  border-color: #15c1fa81;
}

.course-section
  .swiper-wrapper
  .swiper-slide:nth-child(3)
  .course-item2
  .course-button:before {
  background: #15c1fa;
}

.course-section
  .swiper-wrapper
  .swiper-slide:nth-child(1)
  .course-item2:hover
  .course-button,
.course-section
  .swiper-wrapper
  .swiper-slide:nth-child(2)
  .course-item2:hover
  .course-button,
.course-section
  .swiper-wrapper
  .swiper-slide:nth-child(3)
  .course-item2:hover
  .course-button {
  color: #fff;
}
