.course-section3
  .swiper-wrapper
  .swiper-slide:nth-child(1)
  .course-item2
  .hover-bg
  span {
  background: #1ec28f;
}

.course-section3
  .swiper-wrapper
  .swiper-slide:nth-child(1)
  .course-item2
  .course-price {
  color: #1ec28f;
}

.course-section3
  .swiper-wrapper
  .swiper-slide:nth-child(1)
  .course-item2
  .course-category {
  color: #1ec28f;
  background: rgb(30, 194, 143, 0.1);
  border: 1px solid rgb(30, 194, 143, 0.3);
}

.course-section3
  .swiper-wrapper
  .swiper-slide:nth-child(1)
  .course-item2:hover
  .course-title {
  color: #1ec28f;
}

.course-section3
  .swiper-wrapper
  .swiper-slide:nth-child(1)
  .course-item2
  .course-button {
  color: #1ec28f;
  border-color: #1ec28e81;
}

.course-section3
  .swiper-wrapper
  .swiper-slide:nth-child(1)
  .course-item2
  .course-button:before {
  background: #1ec28f;
}

.course-section3
  .swiper-wrapper
  .swiper-slide:nth-child(2)
  .course-item2
  .hover-bg
  span {
  background: #ff853f;
}

.course-section3
  .swiper-wrapper
  .swiper-slide:nth-child(2)
  .course-item2
  .course-price {
  color: #ff853f;
}

.course-section3
  .swiper-wrapper
  .swiper-slide:nth-child(2)
  .course-item2
  .course-category {
  color: #ff853f;
  background: #ff853f1a;
  border: 1px solid rgba(255, 133, 63, 0.3);
}

.course-section3
  .swiper-wrapper
  .swiper-slide:nth-child(2)
  .course-item2:hover
  .course-title {
  color: #ff853f;
}

.course-section3
  .swiper-wrapper
  .swiper-slide:nth-child(2)
  .course-item2
  .course-button {
  color: #ff853f;
  border-color: #ff853f83;
}

.course-section3
  .swiper-wrapper
  .swiper-slide:nth-child(2)
  .course-item2
  .course-button:before {
  background: #ff853f;
}

.course-section3
  .swiper-wrapper
  .swiper-slide:nth-child(3)
  .course-item2
  .hover-bg
  span {
  background: #15c1fa;
}

.course-section3
  .swiper-wrapper
  .swiper-slide:nth-child(3)
  .course-item2
  .course-price {
  color: #15c1fa;
}

.course-section3
  .swiper-wrapper
  .swiper-slide:nth-child(3)
  .course-item2
  .course-category {
  color: #15c1fa;
  background: #15c1fa1a;
  border: 1px solid rgba(21, 193, 250, 0.3);
}

.course-section3
  .swiper-wrapper
  .swiper-slide:nth-child(3)
  .course-item2:hover
  .course-title {
  color: #15c1fa;
}

.course-section3
  .swiper-wrapper
  .swiper-slide:nth-child(3)
  .course-item2
  .course-button {
  color: #15c1fa;
  border-color: #15c1fa81;
}

.course-section3
  .swiper-wrapper
  .swiper-slide:nth-child(3)
  .course-item2
  .course-button:before {
  background: #15c1fa;
}

.course-section3
  .swiper-wrapper
  .swiper-slide:nth-child(3)
  .course-item2
  .hover-bg
  span {
  background: #a94cf9;
}

.course-section3
  .swiper-wrapper
  .swiper-slide:nth-child(3)
  .course-item2
  .course-price {
  color: #a94cf9;
}

.course-section3
  .swiper-wrapper
  .swiper-slide:nth-child(3)
  .course-item2
  .course-category {
  color: #a94cf9;
  background: #a94cf91a;
  border: 1px solid rgba(169, 76, 249, 0.3);
}

.course-section3
  .swiper-wrapper
  .swiper-slide:nth-child(3)
  .course-item2:hover
  .course-title {
  color: #a94cf9;
}

.course-section3
  .swiper-wrapper
  .swiper-slide:nth-child(3)
  .course-item2
  .course-button {
  color: #a94cf9;
  border-color: #a94cf981;
}

.course-section3
  .swiper-wrapper
  .swiper-slide:nth-child(3)
  .course-item2
  .course-button:before {
  background: #a94cf9;
}

.course-section3
  .swiper-wrapper
  .swiper-slide:nth-child(1)
  .course-item2:hover
  .course-button,
.course-section3
  .swiper-wrapper
  .swiper-slide:nth-child(2)
  .course-item2:hover
  .course-button,
.course-section3
  .swiper-wrapper
  .swiper-slide:nth-child(3)
  .course-item2:hover
  .course-button
  .course-section3
  .swiper-wrapper
  .swiper-slide:last-child
  .course-item2:hover
  .course-button {
  color: #fff;
}

.course-section3
  .swiper-wrapper
  .swiper-slide
  .course-item2:hover
  .course-button {
  color: #fff;
}
