@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    @apply scroll-smooth box-border;
  }

  /*Common Tailwind CSS Start Here*/

  .Container {
    @apply w-full sm:w-[540px] md:w-[720px] lg:w-[960px] xl:w-[1140px] 2xl:w-[1320px] px-2 md:px-3 lg:px-3 mx-auto;
  }

  .primary-btn {
    @apply inline-flex items-center gap-2 text-base uppercase text-white font-medium font-Outfit rounded-full bg-PrimaryColor-0 px-10 py-4 transition-all duration-500 relative z-10 before:absolute before:h-full before:w-full before:bg-PrimaryColor2-0 before:rounded-full before:left-0 before:top-0 before:right-0 before:bottom-0 before:transition-all before:duration-500 before:-z-10 before:[clip-path:polygon(50%_0,_50%_0,_50%_50%,_50%_100%,_50%_100%,_50%_50%)] hover:before:[clip-path:polygon(_25%_-70%,_75%_-70%,_120%_50%,_75%_170%,_25%_170%,_-20%_50%_)];
  }

  .primary-btn2 {
    @apply inline-flex items-center gap-2 text-base uppercase text-white font-medium font-Outfit rounded-full bg-PrimaryColor-0 px-9 py-3.5 transition-all duration-500 relative z-10 before:absolute before:h-full before:w-full before:bg-PrimaryColor2-0 before:rounded-full before:left-0 before:top-0 before:right-0 before:bottom-0 before:transition-all before:duration-500 before:-z-10 before:[clip-path:polygon(50%_0,_50%_0,_50%_50%,_50%_100%,_50%_100%,_50%_50%)] hover:before:[clip-path:polygon(_25%_-70%,_75%_-70%,_120%_50%,_75%_170%,_25%_170%,_-20%_50%_)];
  }

  /* Mobile responsiveness */
  @media (max-width: 575px) {
    .primary-btn {
      @apply text-base px-[30px] py-[14px];
    }
    .primary-btn2 {
      @apply text-[15px] px-[25px] py-[10px];
    }
  }

  /* Progress bar wrapper */
  .progress-bar-rect-wrap-container {
    @apply relative z-[999] flex gap-[50px];
  }

  /* Progress text */
  .rect-progress-bar-percent {
    @apply !m-0 leading-[10px] !text-HeadingColor-0 font-Outfit;
  }

  /* Filter button active */
  .button-group button.active {
    @apply text-white;
  }

  /* Odometer font */
  .odometer.odometer-auto-theme,
  .odometer.odometer-theme-default {
    @apply !font-Outfit leading-inherit;
  }

}

@layer base {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #1e1e1e;
  }

  ::-webkit-scrollbar-thumb {
    background: #1ec28f;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #1ec28f;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #1ec28f #1e1e1e;
  }
}
