.testimonial2 span.swiper-pagination-bullet {
  background: #fff !important;
  opacity: 0.2 !important;
  height: 12px !important;
  width: 12px !important;
}

.testimonial2 span.swiper-pagination-bullet::before {
  position: absolute;
  content: '';
  top: -5px;
  left: -5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #1ec28f;
  transition: all 0.5s;
  transform: scale(0);
}

.testimonial2
  span.swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  transform: scale(1);
}

.testimonial2 .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1 !important;
  height: 10px !important;
  width: 10px !important;
  background: #1ec28f !important;
}
